{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static', filename='weather.js') }}"></script>
{% endblock %}

{% block body %}
<div class="h2-container mx-1 mt-3">
    <h2>Sunrise to Sunset, We've Got You Covered</h2>
</div>

<p id="indexcity" hidden>{{ usercity }}</p>

<div class="container mt-4">
    <form id="cityform" action="/" method="post">
        <input name="usercity" type="text" required id="citysearch" placeholder="Enter a city..." style="color: black;">
        <button type="submit" name="searchcity" style="background: none;"><i class="bi-search" style="font-size: 2rem; color: white;"></i></button>
    </form>
</div>

<div class="container text-center">

    <div class="row align-items-start">

      <!--Div to display environmental news-->
      <div class="col" style="background-color: transparent;">
        <h3>Environmental News</h3>
        <div class="col center" style="background-color: transparent;">
          <div id="envrdiv" class="image-container">
            <div class="h5-div">
              <h5 id="envr"></h5>
            </div>
            <hr>
            <img id="envrimage" src="" style="margin-bottom: 10px;">
            <a id="envrlink" href="" target="_blank" rel="noopener noreferrer">Read Article</a>
          </div>
        </div>
      </div>

      <!--Div to display weather of current IP location-->
      <div class="col" style="background-color: transparent;">

        <h3 id="userIPcity"></h3>

        <div class="col px-3 py-1 mt-3" id="ipindex">
            <p id="ipcondition" style="margin-top: 20px; color: black; font-weight: bold; font-size: 20px;"></p>
            <div>
              <img id="ipimage" src="" style="width: 15vh; height: auto;" class="my-3">
            </div>

            <div class="d-flex bd-highlight mb-3" style="font-size: 15px;">
              <div class="p-2 bd-highlight">
                <i class="bi-thermometer-sun center" style="font-size: 1.5rem; color: black;"></i>
              </div>
              <div class="p-2 bd-highlight">
                <p style="color: black;" class="center">Current temperature:</p>
              </div>
              <div class="ms-auto p-2 bd-highlight" style="display: flex; flex-direction: row;">
                <p class="center" id="ipcurrenttemp"></p>
                <p id="degreescale" class="center"></p>
              </div>
            </div>

            <div class="d-flex bd-highlight mb-3" style="font-size: 15px;">
              <div class="p-2 bd-highlight">
                <i class="bi-thermometer center" style="font-size: 1.5rem; color: black;"></i>
              </div>
              <div class="p-2 bd-highlight">
                <p class="center" style="color: black;"> Feels like:</p>
              </div>
              <div class="ms-auto p-2 bd-highlight" style="display: flex; flex-direction: row;">
                <p class="center" id="ipfeelslike"></p>
                <p id="degreescale" class="center"></p>
              </div>
            </div>

            <div class="d-flex bd-highlight mb-3" style="font-size: 15px;">
              <div class="p-2 bd-highlight">
                <i class="bi-water center" style="font-size: 1.5rem; color: black;"></i>
              </div>
              <div class="p-2 bd-highlight">
                <p style="color: black;" class="center">Humidity:</p>
              </div>
              <div class="ms-auto p-2 bd-highlight">
                <p class="center" id="iphumid"></p>
              </div>
            </div>

        </div>

      </div>

        <!--Div to display technology news-->
        <div class="col" style="background-color: transparent;">
          <h3>Technology News</h3>
          <div class="col center" style="background-color: transparent;">
            <div id="techdiv" class="image-container">
              <div class="h5-div">
                <h5 id="tech"></h5>
              </div>
              <hr>
              <img id="techimage" src="" style="margin-bottom: 10px;">
              <a id="techlink" href="" target="_blank" rel="noopener noreferrer">Read Article</a>
            </div>
          </div>
        </div>


    </div>
</div>
{% endblock %}
