body {
    background-color: #75BEC6;
}

.nav-link {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin: 3px 8px;
    text-align: center;
}

#searchnav {
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 8px;
    color: white;
    background-color: #75BEC6;
    border: none;
    
}

.nav-link:hover {
    color: #979797;
}

#cityform {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#citysearch {
    box-shadow: 5px 10px 18px #333333;
    margin-bottom: 10px;
}

.container {
    padding: 10px 30px 20px 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: none;
}

input {
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 5px;
    border: none;
}

label, h5, a, h2 {
    font-family: 'Nunito', sans-serif;
}

button {
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-top: 15px;
    text-shadow: 2px 2px 20px black;
    color: white;
}

.h2-container {
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#powered {
    color: orange;
}

#techlink, #envrlink {
    color: #209BA5;
}


#techimage, #envrimage {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}

.col {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: rgba(252, 255, 255, 0.8);
    border-radius: 5px;
}

.image-container {
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 18px #141414;
    background-color: rgba(252, 255, 255, 0.8);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0;
}

h3 {
    margin-bottom: 10px; 
    background-color: rgba(243, 188, 88, 0.9);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 10px 18px #141414;
    color: black;
}

.h5-div {
    background-color: transparent;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 0px;
}

#ipindex {
    box-shadow: 5px 10px 18px #141414;
}

#threedayindex {
    box-shadow: 5px 10px 18px #141414;
}

#tech, #envr {
    font-weight: bold;
}

* {
    font-family: 'Nunito', sans-serif;
}

#currentdiv {
    box-shadow: 5px 10px 18px #141414;;
}

#degreescale {
    margin-left: 1px;
    font-family: 'Nunito', sans-serif;
}

#speedscale {
    margin-left: 2px;
    font-family: 'Nunito', sans-serif;
}

select {
    border-radius: 5px;
    border: none;
    background-color: #75BEC6 ;
    color: white;
    padding: 2px 5px;
    margin-left: 5px;
}

i {
    margin-left: 5px;
    margin-right: 5px;
}